.hero{
    display: flex;
    gap: 100px;
    font-weight: 700;
    font-size: 29px;
    color: rgba(82, 82, 98);
    height: 30vh;
}
.hero img{
    padding: 20px 0px;
    width: 300px;
    height: 300px;
}
.hero p{
    padding-top: 60px;
}