.feepayments{
    display: flex;
    flex-direction: column;
}
.feepayments h2{
  margin-top: 30px;
  padding-left: 41px;
  color: rgb(82, 82, 98);
}
.rowfp {
    display: flex ;
    flex-direction: row;
    gap: 110px;
    width: 1000px;
    height: 10vh;
    background-color: rgb(229, 229, 229);
    margin: 30px 40px;
    border: none;
    border-radius: 40px;
  }
  .row-headfp {
    display: flex;
    gap: 125px;
    width: 1050px;
    height: 1vh;
    margin: 30px 40px;
    border: none;
    border-radius: 25px;
  }
  
  .rowfp td {
    padding: 20px; /* Adjust as needed */
 
  }
  
   .td1{
    text-align: center;
    
  }
  .td2{
    text-align: right;
  }
  .td3{
    text-align: right;
  }
  .td4{
    text-align: left;
  }
  .td5{
    text-align: left;
  }