.staff{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.staff h1{
  color: rgb(82, 82, 98);
}
.rowst {
  display: flex ;
  flex-direction: row;
  gap: 200px;
  width: 1000px;
  height: 10vh;
  background-color: rgb(229, 229, 229);
  margin: 30px 40px;
  border: none;
  border-radius: 40px;
 
}
.row-headst {
  display: flex;
  gap: 200px;
  width: 1050px;
  height: 2vh;
  margin: 30px 40px;
  border: none;
  border-radius: 25px;
}

.rowst td {
  padding: 20px; /* Adjust as needed */

}

 .td1{
  text-align: left;
  
}
.td2{
  text-align: right;
}
.td3{
  text-align: right;
}
.td4{
  text-align: right;
}
